/* -------------------------------------------------------------- 
   Layout 
-------------------------------------------------------------- */

html, 
body {
    font: medium "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    color: #222;
    min-width: 910px;   
    background: [[setting:bgcolor]] !important;
}

/* -------------------------------------------------------------- 
   Page Header
-------------------------------------------------------------- */
#page-header {
    top: 0;
    background: [[setting:themecolor]];
    color: #fff;
    box-shadow: 1px 1px 2px 0px #888;
    height:150px;
    width:100%;
    min-width:980px;
    float: none; 
    margin-bottom: 60px;   
}

.adminsearchform{
    display:none;
}

#page-header .adminsearchform{
    right: 7%;
    top: 20px;
    position: absolute;
    display:block;
}

#page-header form input#adminsearchquery{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 25px;
    padding-left: 18px;
    background: white url([[pix:theme|search]]) 4px 8px no-repeat;
  
}

.nobackground{
    background:none !important;
}

#logo img{
    max-height:110px;
    cursor: pointer;
    margin: 30px 0px 0px 10px;
}

#logo{
    width:500px;
    height:100%;
    cursor: pointer;
}
.headermenu{
    position: absolute;
    top: 58px;
    right: 6%;

}

.select.menulang{
    height:20px;
    border:0;
    padding:0;
}

#page-header a:link,
#page-header a:visited {
    color: whitesmoke;
}

#page-header h1.headermain {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    margin:20px !important;
}

.navbar{
    margin: 10px 10px 0px 0;
    padding: 5px;
    background: whitesmoke;
    border: 1px solid #ccc;
}

.navbar ul[role="navigation"] a {
   font-weight: bold;
   padding: 5px;
   color: #222;
}

img.icon{
    display: block;
}

div.singlebutton{
    padding: 5px;
}

.navbutton input[type="submit"]{
    padding: 0px 3px;
}

/*--------------------END PAGE-HEADER --------------------*/

table tr{
    border: 1px solid #efefef;
    padding: 5px;
}

table tr:nth-child(odd) td{
    background-color: #f5f5f5;
}

table tr:nth-child(even) td{
    background-color: white; 
}

a:link,
a:visited {
    color: #0088CC;
    
}

a:hover{
   text-decoration:underline;
}

#page-content{
    min-height:500px;
}

h3.page-subtitle{
    margin: 10px 0px 10px 10px;
}

span.error{
    color:red;
}

/* -------------------------------------------------------------- 
   Blocks 
-------------------------------------------------------------- */

/* Blocks inside region main */

#region-main div.header-tab {
    background: none repeat scroll 0 0  [[setting:themecolor]];
    color:whiteSmoke;
    line-height: 1;
    border-bottom: 1px solid  [[setting:themecolor]];
    min-height:20px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -moz-box-shadow: 0px 2px 3px 0px #888;
    -webkit-box-shadow: 0px 2px 3px 0px #888;
    box-shadow: 0px 2px 3px 0px #888;
}

#region-main div.header-tab .commands{
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

#region-main .block div.content {
    box-shadow: 0px 2px 3px 0px #888;
    width: 90%;
    margin: 0 auto;
}

#region-main div.header{
    display: none;
}

div.region-content div.header-tab {
    background: none repeat scroll 0 0 [[setting:headercolor]];
    line-height: 1;
    border-bottom: 1px solid whiteSmoke;
    cursor: pointer !important;
    min-height:20px;

}

div.region-content div.header-tab {
    color: whiteSmoke;
}

#region-post-box #region-pre , 
#region-post-box #region-post{
    display:none;
}

#region-pre div.region-content .header,
#region-post div.region-content .header{
    background-color: #EDF0EE;
    height: 10px;
}

div.region-content .header-tab .title {
    text-align:center;
}

div.region-content .header-tab h2{
    font-size: small;
    padding: 5px;
}

#region-pre div.region-content .header h2,
#region-post div.region-content .header h2{
    display: none;
}

#tabs-pre .com,
#tabs-post .com {
    text-align: center;
    background-color: whiteSmoke;
    border: 1px solid #ddd;
}

div.region-content div.header-tab h2{ 
    cursor: pointer !important;
}

#region-post div.region-content div.current ,
#region-pre div.region-content div.current{
    background-color: [[setting:currentcolor]];
}

#region-post div.region-content div.current h2 , 
#region-pre div.region-content div.current h2{
    color: whiteSmoke;
}


#regions-control{
    position: absolute;
    width: 100%;
}
.move{
    background-color: #fff;
    cursor: pointer;
    height: 40px;
    width: 30px;
    margin: 0px 10px 0 10px;
}
#move-region-right{
    background: -10px url([[pix:theme|arrow_right]]);
    float: right;
}
#move-region-right.hidden-region{
     background: -22px url([[pix:theme|arrow_left]]) !important; 
}

#move-region{
    background: -22px url([[pix:theme|arrow_left]]);
    float: left; 
}
#move-region.hidden-region{
    background: -10px url([[pix:theme|arrow_right]]) !important;   
}

.block {
    border: none;
}

.block .content {
    background:#EDF0EE;
    padding: 5px 10px;
    border:none;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.block .content select {
    width: 150px;
    background: transparent;
}


.block .content a{ 
    color: #222;
}

.block_js_expansion .block_tree {
    overflow: auto;
}

.block_recent_activity h2,main,
.block_recent_activity h3.main {
    font-size: 1em;
    margin: 0.5em 0;
}

.block_calendar_month .content h3.eventskey {
    font-size: 1em;
    margin: 0.25em 0;
}


.block_action img {
   border:none;
}

.block_action img.block-hider-hide {
    display:none;
}
.block_action{
    border:none;
    background-color: whiteSmoke;

}

td.eventskey {
    padding: 0 5px 3px;
}

.minicalendar td,
.minicalendar th {
    border-color: #f3f8ed;
}

.block_comments textarea {
    width: 95%;
    margin-bottom: 1em;
}

.block_comments .comment-area a {
    background: #fff;
    padding: 5px;
    border: 1px solid #e5e5e5;
}

.comment-delete-confirm {
    background: #fff;
}

.block_messages .content {
    font-size: 0.95em;
}

.block_messages .footer {
    text-align: center;
    
}


/* -------------------------------------------------------------- 
   Forum 
-------------------------------------------------------------- */

#searchforums{
    margin-left: 10px;
}

.forumpost {
    border: none;
}

.path-mod-forum .forumheaderlist{
    border: 1px solid #ccc;
}

.path-mod-forum .forumheaderlist td{
    border:none;
}

#region-main .forumpost div.header{
    background: #efefef !important;
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px 0px #888;
    display: block;
}
.forumpost  {
    border: 1px dashed #ddd;
    padding: 10px 10px;
}

.forumpost .starter {
    background: #efefef;
}

.forumpost .subject {
    font-size: 1.2em;
    color: #222;
    margin-left: 10px;
}

.forumpost .author {
    font-style: italic;
    color: #555;
    font-size: 0.95em;
    margin-left: 10px;
}

.forumpost .author a:link,
.forumpost .author a:visited {
    text-decoration: underline;
}

.forumpost .author a:hover {
    text-decoration: none;
}

.forumpost .no-overflow,
.forumpost .options {
    border: 1px solid #ccc;
}

.forumpost .options,
.forumpost .content .posting {
    padding: 5px 10px;
}

.forumaddnew,
.forumnodiscuss {
    text-align: center;
    margin-bottom: 15px;
}

.path-mod-forum .forumheaderlist .replies {
    text-align: center;
}

.path-mod-forum .forumheaderlist .replies .read {
    background: #fcffd8;
    padding: 2px;
}

.path-mod-forum .unread .content {
    background: #f3f8ed;
}

.path-course-view .headingblock {
    text-align:center;
}
.path-course-view .section .forum .unread {
    margin-left: 20px;
}

.path-course-view .section .forum .unread a:link,
.path-course-view .section .forum .unread a:visited {
    color: #888;
    background: #fcffd8;
    font-size: small;
}
.generalbox {
    border: none;
}
#page-mod-forum-search .generalbox {
    width: 85%;
}

#page-mod-forum-search .searchbox {
    margin: 25px auto;
}

#page-mod-forum-search .searchbox .submit {
    padding-top: 20px;
    text-align: center;
}


/* -------------------------------------------------------------- 
   Page Footer 
-------------------------------------------------------------- */

#page-footer {
    padding-top: 10px;
    background: [[setting:themecolor]];
    color: #fff;
    min-height: 150px;
    width: 100%;
}

#page-footer a {
    color: white;
}

#page-footer a:hover {
    color: #fff;
}

#page-footer .logininfo{  
    margin: 10px auto 15px auto;
}
#page-footer .sitelink{
    clear:both;
}

#page-footer .sitelink img {
    width:auto !important;
    height: auto !important;
}
#page-footer-bottom {
    text-align: center;
    margin: 10px 20%;
}


/* -------------------------------------------------------------- 
   Assigment 
-------------------------------------------------------------- */

#page-mod-assignment-view .singlebutton {
    margin: 15px;
}

#page-mod-assignment-view #online {
    margin: 10px auto;
    width: 90%;
}

#page-mod-assignment-view #online fieldset .fitem {
    width: 100%;
}

#page-mod-assignment-view #online fieldset .fitem .fitemtitle {
    width: 15%;
}

.performanceinfo span {
    display: block;
}

.validators {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px dotted gray;
}

.validators ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.validators ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.myclear {
	clear: both;
}


/* -------------------------------------------------------------- 
   Custom menu 
-------------------------------------------------------------- */

#custommenu{
    background-color: #697F6F;
    border-top: 2px solid #000;
    padding: 1px;
    min-height: 36px;
}

#custom_menu_1{
    width:90%;
    margin: 0 auto;
}

#custommenu .custom_menu_submenu li{
    border-right: 0px;
}

#custommenu .custom_menu_submenu li {
   min-width: 150px;
}

#custommenu ul,
#custommenu li,
#custommenu a,
#custommenu .yui3-menu-content{
    border: none !important;
}

#custommenu .custom_menu_submenu .yui3-menu-label-active,
#custommenu .custom_menu_submenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menuitem-content:hover ,
#custommenu .yui3-menu-label-menuvisible:hover{
    background-color: [[setting:currentcustommenucolor]] ;
}


#custommenu .custom_menu_submenu .yui3-menu-content {
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px #888;
}


#custommenu .custom_menu_submenu .yui3-menu-content,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible {
    background-color: #697F6F;
}

#custommenu .yui3-menu-horizontal .yui3-menu-content ul ul,
 #custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul ul{
    padding-bottom:3px;
}

.yui3-skin-sam .yui3-menu li, .yui3-skin-sam .yui3-menu .yui3-menu li{
    background-color: #697F6F !important;
}

#custommenu .yui3-menu-horizontal .yui3-menu-content li a {
    cursor:pointer;
    color: white;
    padding: 10px;
}

#custommenu .yui3-menu-horizontal .yui3-menu-content li.yui3-menuitem-active a,
a.yui3-menu-label-active,
a.yui3-menu-label-menuvisible {
  color:white !important;
}



.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;  
    border-left: 10px solid #697F6F;
    margin-top: 3px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; 
    border-bottom: 10px solid #697F6F;
    margin: auto;
    margin-top:3px;

}


/* -------------------------------------------------------------- 
   Login
-------------------------------------------------------------- */

div.logininfo{
    margin-bottom: 20px;
}

div.logininfo a {
  color: #fff;
}

div.logininfo a.login {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.loginbox{
    border: 1px solid #ccc;
}

.loginbox .loginform .form-input{
    margin-bottom:5px;
    text-align: center;
    width:auto;
    float: none;
}

.loginbox .loginform .form-input #loginbtn{
   display: block;
   text-align: center;
   margin: 5px auto 0px auto;
}

.loginbox .loginform .form-label {
    text-align:center;
    float:none;
    width:auto;
}



/* -------------------------------------------------------------- 
   Quiz 
-------------------------------------------------------------- */

.que div.formulation {
 background-color: #EDF0EE;
}

#page-mod-quiz-attempt .submitbtns,
#page-mod-quiz-review div.submitbtns{
   text-align: center;
}




/* -------------------------------------------------------------- 
   Question bank
-------------------------------------------------------------- */
#page-mod-quiz-edit input[type="submit"]{
    margin: 5px;
}
#page-mod-quiz-edit .questionbankwindow div.header{
    background-color: [[setting:themecolor]]!important;
    text-align: center;
    cursor: pointer;
    display: block;
}

#page-mod-quiz-edit .questionbankwindow div.header h2{
    font-size: small;
}

#expand-bank{
    color: white;
}

#page-mod-quiz-edit div.questionbank{
    background-color: #efefef;
}

#page-mod-quiz-edit div.question div.content div.points{
    border-left:none;
    background-color: #F9F9F9;
    top:0;
}

#page-mod-quiz-edit div.editq div.question div.content{
    padding-bottom: 15px;
}


/* -------------------------------------------------------------- 
  Calendar
-------------------------------------------------------------- */
table.minicalendar.calendartable tr{
    border:none;
}

div.calendar-controls{
    background-color: #EDF0EE;
}



/* -------------------------------------------------------------- 
   From bootstrap 
-------------------------------------------------------------- */

input[type="submit"],
button, 
.pretty-button,
.delete-slide{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',
     endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}


.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',
     endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',
     endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* -------------------------------------------------------------- 
   Custom css
-------------------------------------------------------------- */
[[setting:customcss]]





