/* -------------------------------------------------------------- 
   Layout 
-------------------------------------------------------------- */
@-ms-viewport {
  width: device-width;
}
html,
body {
  font: medium "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #222222;
  background: [[setting:bgcolor]] !important;
}
a:link,
avisited {
  color: #0088CC;
}
a:hover {
  text-decoration: underline;
}
h3.page-subtitle {
  margin: 10px 0px 10px 10px;
}
span.error {
  color: red;
}
/* -------------------------------------------------------------- 
   Page Header
-------------------------------------------------------------- */
#page-header {
  top: 0;
  background: [[setting:themecolor]];
  color: #fff;
  width: 100%;
  float: none;
  margin-bottom: 60px;
}
#page-header .adminsearchform {
  right: 7%;
  top: 20px;
  position: absolute;
  display: block;
}
#page-header form input#adminsearchquery {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 25px;
  padding-left: 18px;
  background: #ffffff url([[pix:theme|search]]) 4px 8px no-repeat;
}
#page-header a:link,
#page-header a:visited {
  color: whitesmoke;
}
#page-header h1.headermain {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  margin: 20px !important;
}
.nobackground {
  background: none !important;
}
.adminsearchform {
  display: none;
}
#logo {
  width: 500px;
  height: 100%;
  cursor: pointer;
}
#logo img {
  max-height: 110px;
  cursor: pointer;
  margin: 30px 0px 0px 10px;
  height: auto;
  width: auto;
}
.headermenu {
  position: absolute;
  top: 58px;
  right: 6%;
}
.select.menulang {
  height: 20px;
  border: 0;
  padding: 0;
}
.navbar {
  margin: 10px 10px 0px 0;
  padding: 5px;
  background: whitesmoke;
  border: 1px solid #ccc;
}
.navbar ul[role="navigation"] a {
  font-weight: bold;
  padding: 5px;
  color: #222222;
}
img.icon {
  display: block;
}
div.singlebutton {
  padding: 5px;
}
.navbutton input[type="submit"] {
  padding: 0px 3px;
}
/*--------------------END PAGE-HEADER --------------------*/
table tr {
  border: 1px solid #efefef;
  padding: 5px;
}
table tr:nth-child(odd) td {
  background-color: #f5f5f5;
}
table tr:nth-child(even) td {
  background-color: white;
}
#page-content {
  min-height: 500px;
  min-width: 0px;
}
/* -------------------------------------------------------------- 
   Blocks 
-------------------------------------------------------------- */
.block {
  border: none;
}
.block .content {
  background: #EDF0EE;
  padding: 5px 10px;
  border: none;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
.block .content select {
  width: 150px;
  background: transparent;
}
.block .content a {
  color: #222222;
}
/* Blocks inside region main */
#region-main div.header-tab {
  background: none repeat scroll 0 0 [[setting:themecolor]];
  color: whiteSmoke;
  line-height: 1;
  border-bottom: 1px solid [[setting:themecolor]];
  min-height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 3px 0px #888;
  -webkit-box-shadow: 0px 2px 3px 0px #888;
  box-shadow: 0px 2px 3px 0px #888;
}
#region-main div.header-tab .commands {
  float: right;
  margin-top: -30px;
  margin-right: 10px;
}
#region-main .block div.content {
  box-shadow: 0px 2px 3px 0px #888;
  width: 90%;
  margin: 0 auto;
}
#region-main div.header {
  display: none;
}
div.region-content div.header-tab {
  background: none repeat scroll 0 0 [[setting:headercolor]];
  line-height: 1;
  border-bottom: 1px solid whiteSmoke;
  cursor: pointer !important;
  min-height: 20px;
  color: whiteSmoke;
}
div.region-content .header-tab .title {
  text-align: center;
}
div.region-content .header-tab h2 {
  font-size: small;
  padding: 5px;
}
div.region-content div.header-tab h2 {
  cursor: pointer !important;
}
#region-post div.region-content div.header-tab:first-child,
#region-pre div.region-content div.header-tab:first-child {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#region-post div.region-content .header h2,
#region-pre div.region-content .header h2 {
  display: none;
}
#region-post div.region-content div.current,
#region-pre div.region-content div.current {
  background-color: [[setting:currentcolor]];
}
#region-post div.region-content div.current h2,
#region-pre div.region-content div.current h2 {
  color: whiteSmoke;
}
#region-post-box #region-pre,
#region-post-box #region-post {
  display: none;
}
#region-pre div.region-content .header,
#region-post div.region-content .header {
  background-color: #EDF0EE;
  height: 10px;
}
#tabs-pre .com,
#tabs-post .com {
  text-align: center;
  background-color: whiteSmoke;
  border: 1px solid #ddd;
}
#region-center-pre,
#reion-center-post {
  clear: both;
  margin-bottom: 20px;
}
#regions-control {
  position: fixed;
  width: 100%;
}
.move {
  background-color: #fff;
  cursor: pointer;
  height: 40px;
  width: 30px;
  margin: 0px 10px 0 10px;
}
#move-region-right {
  background: -10px url([[pix:theme|arrow_right]]);
  float: right;
}
#move-region-right.hidden-region {
  background: -22px url([[pix:theme|arrow_left]]) !important;
}
#move-region {
  background: -22px url([[pix:theme|arrow_left]]);
  float: left;
}
#move-region.hidden-region {
  background: -10px url([[pix:theme|arrow_right]]) !important;
}
.block_js_expansion .block_tree {
  overflow: auto;
}
.block_recent_activity h3.main,
.block_recent_activity h2.main {
  font-size: 1em;
  margin: 0.5em 0;
}
.block_calendar_month .content h3.eventskey {
  font-size: 1em;
  margin: 0.25em 0;
}
.block_action {
  border: none;
  background-color: whiteSmoke;
}
.block_action img {
  border: none;
}
.block_action img.block-hider-hide {
  display: none;
}
.minicalendar td,
.minicalendar th {
  border-color: #f3f8ed;
}
td.eventskey {
  padding: 0 5px 3px;
}
.block_comments textarea {
  width: 95%;
  margin-bottom: 1em;
}
.block_comments .comment-area a {
  background: #fff;
  padding: 5px;
  border: 1px solid #e5e5e5;
}
.comment-delete-confirm {
  background: #fff;
}
.block_messages .content {
  font-size: 0.95em;
}
.block_messages .footer {
  text-align: center;
}
/* -------------------------------------------------------------- 
   Forum 
-------------------------------------------------------------- */
#searchforums {
  margin-left: 10px;
}
#region-main .forumpost {
  border: none;
}
#region-main .forumpost div.header {
  background: #efefef !important;
  margin-bottom: 5px;
  box-shadow: 1px 1px 2px 0px #888;
  display: block;
}
.path-mod-forum .forumheaderlist {
  border: 1px solid #ccc;
}
.path-mod-forum .forumheaderlist td {
  border: none;
}
.path-mod-forum .forumheaderlist .replies {
  text-align: center;
}
.path-mod-forum .forumheaderlist .replies .read {
  background: #fcffd8;
  padding: 2px;
}
.path-mod-forum .unread .content {
  background: #f3f8ed;
}
.forumpost {
  border: 1px dashed #ddd;
  padding: 10px 10px;
}
.forumpost .starter {
  background: #efefef;
}
.forumpost .subject {
  font-size: 1.2em;
  color: #222;
  margin-left: 10px;
}
.forumpost .author {
  font-style: italic;
  color: #555;
  font-size: 0.95em;
  margin-left: 10px;
}
.forumpost .author a:link,
.forumpost .author a:visited {
  text-decoration: underline;
}
.forumpost .author a:hover {
  text-decoration: none;
}
.forumpost .no-overflow,
.forumpost .options {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.forumpost .content .posting {
  padding: 5px 10px;
}
.forumaddnew,
.forumnodiscuss {
  text-align: center;
  margin-bottom: 15px;
}
.path-course-view .headingblock {
  text-align: center;
}
.path-course-view .section .forum .unread {
  margin-left: 20px;
}
.path-course-view .section .forum .unread a:visited,
.path-course-view .section .forum .unread a:link {
  color: #888;
  background: #fcffd8;
  font-size: small;
}
.generalbox {
  border: none;
}
#page-mod-forum-search .generalbox {
  width: 85%;
}
#page-mod-forum-search .searchbox {
  margin: 25px auto;
}
#page-mod-forum-search .searchbox .submit {
  padding-top: 20px;
  text-align: center;
}
/* -------------------------------------------------------------- 
   Page Footer 
-------------------------------------------------------------- */
#page-footer {
  padding-top: 10px;
  background: [[setting:themecolor]];
  color: #fff;
  min-height: 150px;
  width: 100%;
}
#page-footer a {
  color: white;
}
#page-footer .logininfo {
  margin: 10px auto 15px auto;
}
#page-footer .sitelink {
  clear: both;
}
#page-footer .sitelink img {
  width: auto !important;
  height: auto !important;
}
#page-footer #page-footer-bottom {
  text-align: center;
  margin: 10px 20%;
}
/* -------------------------------------------------------------- 
   Assigment 
-------------------------------------------------------------- */
#page-mod-assignment-view .singlebutton {
  margin: 15px;
}
#page-mod-assignment-view #online {
  margin: 10px auto;
  width: 90%;
}
#page-mod-assignment-view #online fieldset .fitem {
  width: 100%;
}
#page-mod-assignment-view #online fieldset .fitem .fitemtitle {
  width: 15%;
}
.performanceinfo span {
  display: block;
}
.validators {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px dotted gray;
}
.validators ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.validators ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
.myclear {
  clear: both;
}
