/* SMALL SCREENS
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
        Min width for ipads is 768px, a lower screen size makes
        the three column layout looks bad, thats why a screen with 
        max-width of 768px is gonna be shown with one colum 
        layout
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  input[type=text],
  input[type=password],
  textarea {
    width: 95%;
  }
  table {
    max-width: 100%;
  }
  table.generaltable {
    width: 95%;
  }
  table.generaltable thead,
  table.generaltable tbody,
  table.generaltable th,
  table.generaltable td,
  table.generaltable tr {
    display: block;
  }
  table.generaltable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.generaltable tr {
    border: 1px solid #ccc;
  }
  table.generaltable td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  table.generaltable td:before {
    /*Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .main-content {
    width: 95% !important;
  }
  .main-content img {
    max-width: 100%;
  }
  .navbar {
    margin-bottom: 30px;
  }
  #regions-control {
    display: none;
  }
  /* Forcing layout to be one column
    -------------------------------------------------------------- */
  #region-main-box,
  #region-main-wrap,
  #region-post-box,
  #region-main,
  #region-pre,
  #report-region-pre,
  #region-footer-left,
  #region-footer-center,
  #region-footer-right,
  #region-post,
  .generalbox {
    float: none !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .report-page #report-region-pre {
    max-width: none;
  }
  #mobile-logo {
    margin-left: 20px;
    display: block;
  }
  #mobile-logo img.sitelogo {
    height: auto;
    max-width: 80%;
  }
  #logo {
    display: none;
  }
  /* Header page CSS
    -------------------------------------------------------------- */
  #page-header .headermenu {
    clear: both;
    float: left;
    position: relative;
    background-color: [[setting:themecolor]];
    margin: 0;
    padding: 0;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 10px;
    min-height: 40px;
  }
  #page-header .page-header-inner {
    width: 100%;
  }
  #page-header div.langmenu {
    padding-bottom: 10px;
  }
  #page-header div.logininfo {
    margin-bottom: 0;
    padding-bottom: 10px;
    float: left;
    width: 70%;
  }
  #page-header #header-wrap {
    background-color: [[setting:themecolor]];
  }
  #page-header .page-header-info-container {
    padding-right: 20px;
    width: 45%;
  }
  #page-header .page-header-info-container img.userpicture {
    float: right;
  }
  #page-header div.menu-icon {
    display: block;
  }
  /*  Form css
    -------------------------------------------------------------- */
  #adminsettings .form-item .form-label {
    width: 100%;
    float: none;
    text-align: left;
  }
  #adminsettings .form-item .form-setting,
  #adminsettings .form-item .form-description {
    margin-left: 0;
  }
  /* Login CSS
    -------------------------------------------------------------- */
  .loginbox.twocolumns .loginpanel,
  .loginbox.twocolumns .signuppanel {
    float: none;
    width: 100%;
  }
  .loginbox.twocolumns .signuppanel {
    border-top: 1px solid #888;
  }
  /* Course CSS
    -------------------------------------------------------------- */
  .coursebox > .info > .coursename,
  .coursebox .content .teachers,
  .coursebox .content .courseimage,
  .coursebox .content .coursefile {
    float: none !important;
    width: 100% !important;
  }
  .coursebox .content .summary {
    width: 95% !important;
    border-left: 0 !important;
  }
  /* Quiz CSS
    -------------------------------------------------------------- */
  .questionbankwindow.block,
  #page-mod-quiz-edit div.quizcontents {
    float: none;
    width: 100%;
    clear: both;
  }
  .editq {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .page-content.report-page {
    overflow-x: visible;
  }
  .page-content.report-page .main-report-content {
    width: 100%;
    float: none;
  }
  .page-content.report-page table#user-grades {
    width: 100%;
  }
}
html.no-media-queries {
  /* Forcing layout to be one column
    -------------------------------------------------------------- */
  /* Header page CSS
    -------------------------------------------------------------- */
  /*  Form css
    -------------------------------------------------------------- */
  /* Login CSS
    -------------------------------------------------------------- */
  /* Course CSS
    -------------------------------------------------------------- */
  /* Quiz CSS
    -------------------------------------------------------------- */
}
html.no-media-queries input[type=text],
html.no-media-queries input[type=password],
html.no-media-queries textarea {
  width: 95%;
}
html.no-media-queries table {
  max-width: 100%;
}
html.no-media-queries table.generaltable {
  width: 95%;
}
html.no-media-queries table.generaltable thead,
html.no-media-queries table.generaltable tbody,
html.no-media-queries table.generaltable th,
html.no-media-queries table.generaltable td,
html.no-media-queries table.generaltable tr {
  display: block;
}
html.no-media-queries table.generaltable thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
html.no-media-queries table.generaltable tr {
  border: 1px solid #ccc;
}
html.no-media-queries table.generaltable td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
}
html.no-media-queries table.generaltable td:before {
  /*Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}
html.no-media-queries .main-content {
  width: 95% !important;
}
html.no-media-queries .main-content img {
  max-width: 100%;
}
html.no-media-queries .navbar {
  margin-bottom: 30px;
}
html.no-media-queries #regions-control {
  display: none;
}
html.no-media-queries #region-main-box,
html.no-media-queries #region-main-wrap,
html.no-media-queries #region-post-box,
html.no-media-queries #region-main,
html.no-media-queries #region-pre,
html.no-media-queries #report-region-pre,
html.no-media-queries #region-footer-left,
html.no-media-queries #region-footer-center,
html.no-media-queries #region-footer-right,
html.no-media-queries #region-post,
html.no-media-queries .generalbox {
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}
html.no-media-queries .report-page #report-region-pre {
  max-width: none;
}
html.no-media-queries #mobile-logo {
  margin-left: 20px;
  display: block;
}
html.no-media-queries #mobile-logo img.sitelogo {
  height: auto;
  max-width: 80%;
}
html.no-media-queries #logo {
  display: none;
}
html.no-media-queries #page-header .headermenu {
  clear: both;
  float: left;
  position: relative;
  background-color: [[setting:themecolor]];
  margin: 0;
  padding: 0;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  min-height: 40px;
}
html.no-media-queries #page-header .page-header-inner {
  width: 100%;
}
html.no-media-queries #page-header div.langmenu {
  padding-bottom: 10px;
}
html.no-media-queries #page-header div.logininfo {
  margin-bottom: 0;
  padding-bottom: 10px;
  float: left;
  width: 70%;
}
html.no-media-queries #page-header #header-wrap {
  background-color: [[setting:themecolor]];
}
html.no-media-queries #page-header .page-header-info-container {
  padding-right: 20px;
  width: 45%;
}
html.no-media-queries #page-header .page-header-info-container img.userpicture {
  float: right;
}
html.no-media-queries #page-header div.menu-icon {
  display: block;
}
html.no-media-queries #adminsettings .form-item .form-label {
  width: 100%;
  float: none;
  text-align: left;
}
html.no-media-queries #adminsettings .form-item .form-setting,
html.no-media-queries #adminsettings .form-item .form-description {
  margin-left: 0;
}
html.no-media-queries .loginbox.twocolumns .loginpanel,
html.no-media-queries .loginbox.twocolumns .signuppanel {
  float: none;
  width: 100%;
}
html.no-media-queries .loginbox.twocolumns .signuppanel {
  border-top: 1px solid #888;
}
html.no-media-queries .coursebox > .info > .coursename,
html.no-media-queries .coursebox .content .teachers,
html.no-media-queries .coursebox .content .courseimage,
html.no-media-queries .coursebox .content .coursefile {
  float: none !important;
  width: 100% !important;
}
html.no-media-queries .coursebox .content .summary {
  width: 95% !important;
  border-left: 0 !important;
}
html.no-media-queries .questionbankwindow.block,
html.no-media-queries #page-mod-quiz-edit div.quizcontents {
  float: none;
  width: 100%;
  clear: both;
}
html.no-media-queries .editq {
  min-height: 100px;
  margin-bottom: 20px;
}
html.no-media-queries .page-content.report-page {
  overflow-x: visible;
}
html.no-media-queries .page-content.report-page .main-report-content {
  width: 100%;
  float: none;
}
html.no-media-queries .page-content.report-page table#user-grades {
  width: 100%;
}
