/* -------------------------------------------
   Course Styles 
---------------------------------------------*/

.coursebox .info,
.coursebox .info .name {
    width: 100%;
}

.coursebox{
    width:auto;
    margin-bottom:15px;
    border: 1px dashed #ddd;
    padding:20px;
}

.coursebox:hover{
    background-color:whiteSmoke;
}

.coursebox .content .teachers {
    margin-left: 0.6em;
    font-size: 0.95em;
    width: 40%;
    float:left;
}

.coursebox .content .summary {
    width: 50%;
    padding-left:10px;
    border-left: 1px solid #ddd;
}

.summary .summary-title{
    margin-left:15px;
}

.summary .summary-title p {
    color: #808080;
}

.summary .summary-title span{
    color: #444;
    font-size: 1.75em;
}

.topics .topic-tab{
    border-bottom: 1px solid #ccc;
    margin-bottom:10px;
    padding-top:10px;
    cursor:pointer;
    height:40px;
}

.topics h2.tomo-title{
    text-align:center;
    background-color: #0B7C5E;
    padding: 12px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
    margin-bottom:5px;
    color: whiteSmoke;
}


.topics .topic-tab.current {
background-color: whitesmoke;
border: 1px solid #ccc;
}

.categorybox {
    border: none;
}

h2.headingblock {
    font-size: 1.5em;
}

#page-course-category .categorypicker {
    text-align: center;
    margin: 10px 0 20px;
}

.path-course-view .course-content li.section.main {
    background-color:#fff;
    display:none;
    padding-top:5px;
    list-style-type' : none ;
    margin-top:0;
    border: 1px dashed #ddd;
    border-top: 0;

}

.path-course-view .course-content .side {
    padding: 5px 0;
}

#page-course-view-weeks .weekdates {
    font-size: 1em;
    font-weight: normal;
    color: #777;
    padding: 2px;
}

.course-content .main {
  background:#f3f8ed;
 }

.course-content .current{
    background-color:#fff;
}

.course-content .activity.label.modtype_label {
    margin:5px auto;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 7px solid #999;
    border-bottom: 5px solid transparent;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
    margin-left:5px;

}

.current .triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #999;
    margin-right: 5px;
    float: left;
    margin-top: 8px;
}
