
#toggle-admin-menu{
    text-align: center;
    cursor: pointer;
    background: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;   
    clear: both;
    padding: 5px;
    margin-bottom: 5px;
}

.pretty-link-button{
    color: white !important;
    text-decoration: none !important;
    float:right;
    margin-bottom: 10px;
}

#go-to-courses{
    float:none;
}

.admin-options{
    display: none;
}


h2.lonely-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-top: 60px;
}
#moodle-page-title{
    margin-top: 20px;
}

#home-content{
    width: 100%;
    height: 400px;
}

#content-left{
    float: left;
    width: 60%;
}

#site-description{
    float: right;
    width: 40%;
}



