/* -------------------------------------------
   Home Styles 
---------------------------------------------*/
#home-page {
  margin-bottom: 20px;
  height: auto;
}
#toggle-admin-menu {
  text-align: center;
  margin-top: 10px;
  clear: both;
}
.pretty-link-button {
  color: white !important;
  text-decoration: none !important;
  margin-bottom: 10px;
}
.admin-options {
  display: none;
  text-align: center;
}
.admin-options tr,
.admin-options td,
.admin-options th {
  border: 1px dashed #888;
}
.admin-options table img {
  max-width: 100px;
  height: auto;
}
h2.lonely-title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
#home-content {
  width: 100%;
  height: 310px;
}
#content-left {
  float: left;
  width: 60%;
}
#site-description {
  float: right;
  width: 40%;
}
.delete-slide {
  margin-left: 5px;
}
.main-control {
  padding: 10px;
  text-align: center;
}
.main-control a {
  margin-right: 5px;
}
.notice {
  color: #51a351;
  text-align: center;
}
/* -------------------------------------------
   Slideshow Styles 

   This is from responsive slides. There are just
   small modifications.
---------------------------------------------*/
.rslides {
  margin: 0 auto;
}
.rslides li {
  list-style: none;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
}
.rslides li p {
  max-width: 100%;
}
.rslides li img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.rslides_container {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}
.rslides_container.ready {
  display: block;
}
.centered-btns_nav:active {
  opacity: 1.0;
}
.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 40%;
  bottom: 0;
  left: 0;
  background: #000000 url([[pix:theme|slideshow/themes]]) no-repeat left 50%;
  width: 38px;
  height: 61px;
}
.large-btns_nav:active {
  opacity: 1.0;
}
.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  clear: both;
}
.centered-btns_tabs:focus,
.transparent-btns_tabs:focus,
.large-btns_tabs:focus {
  outline: none;
}
.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 9px;
  height: 9px;
}
.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}
